<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>Walter Rudametkin's home page</title>

<!-- Add custom CSS here -->
{% stylesheet main %}
    
<!-- Main Javascript -->
{% javascript main.js %}

<!-- <script type="text/javascript"> -->
<!-- {% asset google-analytics %} -->
<!-- </script> -->

<link rel="shortcut icon" href="favicon.ico" />

</head>