---
layout: default
title: Walter Rudametkin Personal Blog | Tech | Linux | Life
---

                {% for post in site.posts %}
<!--                         <hr> -->
                        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                        <p class="lead">by <a href="/contact">Walter Rudametkin &nbsp;&nbsp;&nbsp;</a>
                        
                            {% for category in post.categories %}
                                    <a href="/blog/categories/{{ category }}"><span class="label label-primary">{{ category }}</span></a>
                            {% endfor %}

                        </p>
                        
                        <span class="glyphicon glyphicon-time"></span> Posted {{ post.date| date: "%Y.%m.%d" }} 
                        {% if post.place == post.place.blank? %}
                                &nbsp;
                        {% else %}
                                &mdash; {{ post.place }}
                        {% endif %}
                        <hr>

                        {{ post.excerpt }}

                        <a class="btn btn-primary" href="{{ post.url }}">Read More<span class="glyphicon glyphicon-chevron-right"></span></a>
                {% endfor %}
