---
layout: default
---
                <!-- the actual blog post: title/author/date/content -->
                <h1> {{ page.title }} </h1>
                    <p class="lead">by <a href="/contact">Walter Rudametkin</a> &nbsp;&nbsp;&nbsp;
    
                    {% for category in page.categories %}
                        <a href="/blog/categories/{{ category }}"><span class="label label-primary">{{ category }}</span>
                        </a>
                        <!-- </button> -->
                    {% endfor %}
                    </p>
                        <span class="glyphicon glyphicon-time"></span> Posted {{ page.date| date: "%Y.%m.%d" }} 
                        {% if page.place == page.place.blank? %}
                            &nbsp;
                        {% else %}
                            &mdash; {{ page.place }}
                        {% endif %}

                <hr>
                
                {{ content }}

                
                <!-- the comment box -->
<!--                 <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div> -->

                <!-- the comments -->
<!--                 <hr>
 --><!--                 <h3>Start Bootstrap
                    <small>9:41 PM on August 24, 2013</small>
                </h3>
                <p>This has to be the worst blog post I have ever read. It simply makes no sense. You start off by talking about space or something, then you randomly start babbling about cupcakes, and you end off with random fish names.</p>

                <h3>Start Bootstrap
                    <small>9:47 PM on August 24, 2013</small>
                </h3>
                <p>Don't listen to this guy, any blog with the categories 'dinosaurs, spaceships, fried foods, wild animals, alien abductions, business casual, robots, and fireworks' has true potential.</p> -->

<!--             <div class="row"> -->
<!--                 % include well.html %} -->
<!--             </div> -->

<!--             </div> -->
<!--             % include well.html %} -->
            