--- 
--- 
{% include head.html %}

<body>

    {% include navbar.html %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="category">
                    Category &nbsp;&nbsp; <span class="label label-warning">{{ page.category }}</span>
                </h1>

                <!-- blog entry -->
                {% for post in site.categories[page.category] %}
                <hr>
                <h1>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </h1>

                <p class="lead">
                    by <a href="/contact/">Walter Rudametkin</a> &nbsp;&nbsp;&nbsp;
                    {% for category in post.categories %} 
                        <a href="/blog/categories/{{ category }}/"> <span class="label label-primary">{{ category }}</span></a> 
                    {% endfor %}
                </p>

                <span class="glyphicon glyphicon-time"></span> Posted {{ post.date| date: "%Y.%m.%d" }} {% if post.place == post.place.blank? %}
                &nbsp; {% else %} &mdash; {{ post.place }} {% endif %}
                <hr>

                {{ post.excerpt | markdownify }} <a class="btn btn-primary" href="{{ post.url }}">Read More <span
                    class="glyphicon glyphicon-chevron-right"></span></a> {% endfor %}

            </div>
            <div class="col-md-4">
                {% include well.html %}
            </div>
        </div>
    </div>

    <hr>
    {% include footer.html %}

</body>
</html>
