--- 
layout: full-page 
title: Walter Rudametkin | Photo Gallery for Friends and Family
description: Walter Rudametkin Photos Friends Family Rennes Grenoble France Ensenada Mexico Fishing Travel Beaches Mountains
--- 
    <div class="container">
        <div class="row">
{% for gallery in page.galleries %}
            <div class="col-lg-4 col-md-4 col-xs-6 thumb" style="height: 350px">
            
            <!--     <div style="width: 35em; text-align: center; padding: 1em 0 4em 0;"> -->
            <!--         <a href="{{ gallery['gallery'] }}"> <img style="max-height: 20em; max-width: 20em;" -->
            <!--             src="{{ gallery['gallery'] }}/thumbs/{{ gallery['best_image'] }}" -->
            <!--             > -->
            <!--         </a> -->
            
                <!--<div class="clearfix visible-lg visible-md visible-xs visible-sm"></div> -->
                <div style="text-align: center; padding: 0em 0 1em 0;">
                    <a href="{{ gallery['gallery'] }}/">
                        <img src="{{ gallery['gallery'] }}/thumbs/{{ gallery['best_image'] }}"
                            class="img-responsive thumbnail center-block"
                            alt="{{ gallery["name"] }}"
                        >
                    </a>
                    
                    <h4>
                        <a href="{{ gallery['gallery'] }}/">{{ gallery["name"] }}</a>
                    </h4>
                    {{ gallery["images"] | size }} images
                </div>
            </div>
{% endfor %}
        </div>
    </div>