* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* html,body { */
/*     height: 100%; */
/* } */

.header {
    height: calc(100% - 3em);
    background-color: #333;
    width: 100%;
}

.main {
    width: 100%;
    position: relative;
    background-color: #fff;
}

.arrow-wrap {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: -5em;
    margin-left: -5em;
/*     background: #EEE; */
    background: #FFF;
    width: 10em;
    height: 10em;
    padding: 4em 2em;
    border-radius: 50%;
/*     font-size: 0.55em; */
    font-size: 0.44em;
    display: block;
    box-shadow: 0px 0px 5px 0px #333;
}

.arrow {
    float: left;
    position: relative;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #333333 transparent transparent transparent;
    -webkit-transform: rotate(360deg);
}

.arrow:after {
    content: '';
    position: absolute;
    top: -3.2em;
    left: -3em;
    width: 0px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
/*     border-color: #EEE transparent transparent transparent; */
    border-color: #FFF transparent transparent transparent;
    -webkit-transform: rotate(360deg);
}

section {
    margin-top: 140px;
    float: right;
    width: 100%;
    background: #fff;
    position: relative;
    box-shadow: 0 0 5px 0px #333;
}

.arrow-wrap .arrow {
    -webkit-animation: arrows 6s 1.0s;
    -webkit-animation-delay: 2s;
}

/*   @-webkit-keyframes arrows { */
/*     0% { top:0; } */
/*     10% { top:12%; } */
/*     20% { top:0; } */
/*     30% { top:12%; } */
/*     40% { top:-12%; } */
/*     50% { top:12%; } */
/*     60% { top:0; } */
/*     70% { top:12%; } */
/*     80% { top:-12%; } */
/*     90% { top:12%; } */
/*     100% { top:0; } */
/*   } */

    @-webkit-keyframes arrows {
    0%  { top:0; }
    5% { top:12%; }
    10% { top:0; }
    15% { top:12%; }
    20% { top:-12%; }
    25% { top:12%; }
    30% { top:0; }
    35% { top:12%; }
    40% { top:-12%; }
    45% { top:12%; }
    50% { top:0; }
    55% { top:12%; }
    60% { top:-12%; }
    65% { top:12%; }
    70% { top:0; }
    75% { top:12%; }
    80% { top:-12%; }
    85% { top:12%; }
    90% { top:0; }
  }
  