{{- /* Port of _includes/well.html ("Current Tags", "All Tags"). The
       "'Tis me blog matie" no-comments note was dropped on 2026-09-12 (author). */ -}}
<aside class="sidebar">
  {{- with .GetTerms "categories" }}
  <div class="well">
    <h4>Current Tags</h4>
    <ul>{{ range . }}<li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>{{ end }}</ul>
  </div>
  {{- end }}
  <div class="well">
    <h4>All Tags</h4>
    <ul>
      <li><a href="/blog/">All</a></li>
      {{- range site.Taxonomies.categories.Alphabetical }}
      <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>
      {{- end }}
    </ul>
  </div>
</aside>
