markdown: redcarpet
redcarpet:
  extensions: ["strikethrough", "tables"]
pygments: true
#auto: true
excerpt_separator: <!--more-->
category_dir: /blog/categories
category_title_prefix: category:&nbsp;
#permalink: /blog/posts/:categories/:year/:month/:day/:title.html
permalink: /blog/posts/:year.:month.:day/:title.html
#destination: ./_site/
#plugins:     ./_plugins
#layouts:     ./_layouts
include:     ['.htaccess']
exclude:     ['run-jekyll.sh', 'Gemfile*', 'update_site.sh', 'update_site.sh']

url: http://rudametw.github.io

#Not used anymore. I added an index.html to all directories to solve this.
#The only problem is the gallery is not created at startup.
#You have to refresh a file for it to work.
#sitemap:
#    file: "/sitemap.xml"
#    include_posts:
#        - "/photos/2014.02.25_rennes_at_night/"
#        - "/photos/2013.07.27_Saint_Malo/"

gallery:
  # path to the gallery
  dir: photos
  # title for gallery index
  title: "Photos"
  # title prefix for gallery page. title=title_prefix+gallery_name
  title_prefix: ""
  # field to control sorting of galleries for the index page
  # (possible values are: title, date_time, best_image)
  sort_field: "title"
  # sizes for thumbnails
  #thumbnail_size:
  #  x: 400
  #  y: 400
  thumbnail_size:
    x: 350
    y: 350
  # custom configuration for individual gallery
  # best_image is image for the index page (defaults to last image)
  galleries:
    2014.02.25_rennes_at_night:
        best_image: DSC_0034.JPG
    2013.07.27_Saint_Malo:
        best_image: DSC_9097.JPG
    2013.12.13_Dad_fishing_trip:
        best_image: DSC_4995.JPG
    2014.01.16_Dad_keeps_torturing_me_with_these_pictures:
        best_image: DSC_5128.JPG
    2014.03.04_Beach_Trip_to_La_Baule_and_Guerande:
        best_image: DSC_0899.JPG
    2014.03.01_Rennes_market_and_oyster_snack:
        best_image: DSC_0664.JPG
    2014.03.09_Bonnets_Rouges_Walk_in_Rennes:
        best_image: DSC_1421.JPG

assets:
  compress:
    css:  sass
    js:   uglifier
    gzip: [ text/css, application/javascript ]
