<!-- <div class="navbar navbar-fixed-top navbar-inverse"> -->
<!--     <div class="navbar-inner"> -->
<!--         <div class="container"> -->
<!--             <a class="brand" href="http://rudametkin.tk" style="padding-top: 6px; padding-bottom: 0px;"> rudametkin.tk</a> -->
<!--             <img class="AngularJS-small" src="http://angularjs.org/img/AngularJS-small.png">  -->

<!--             <ul class="nav"> -->
<!--                 <li class="divider-vertical"></li> -->

<!--                 <li><a href="#/home"><i class="icon-home icon-white"></i> Home</a></li> -->
<!--                 <li class="active"><a href="#/publications"> <i class="icon-home icon-white"></i> Publications -->
<!--                 </a></li> -->
<!--                 <li><a href="#/contact"><i class="icon-envelope icon-white"></i> Contact</a></li> -->
<!--             </ul> -->
<!--         </div> -->
<!--     </div> -->
<!-- </div> -->
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            Filter publications: <br /><input data-ng-model="query"> <br /> Sort by: <br /><select data-ng-model="orderProp">
                <option value="type">Type of publication</option>
                <option value="year">Year</option>
            </select>
        </div>
        <!--         <div class="span2"></div> -->

        <div class="span8">

            <!--Body content-->
            <!--             <ul class="publications"> -->
            <!--         <li data-ng-repeat="pub in pubs | filter:query | orderBy:orderProp" class="thumbnail"> -->
            <!--         <li data-ng-repeat="pub in pubs" class="thumbnail"> -->
            <!--           <a href="#/publications/{{pub.id}}" class="thumb"><img data-ng-src="{{phone.imageUrl}}"></a> -->
            <!--                 <li data-ng-repeat="pub in publications"> -->
            <!--                     <p>Publication</p> <a href="#/publications/{{pub.title}}">{{pub.title}}</a> <a href="#/publications/{{pub.author}}">{{pub.author}}</a> <a -->
            <!--                     href="#/publications/{{pub.conference}}">{{pub.conference}}</a> <a href="#/publications/{{pub.year}}">{{pub.year}}</a> <a -->
            <!--                     href="#/publications/{{pub.url}}">{{pub.url}}</a> -->
            <!--                     <p>{{pub.abstract}}</p> -->
            <!--                 </li> -->
            <!--             <a href="#/publications/{{pub.author}}">{{pub.author}}</a> <a href="#/publications/{{pub.conference}}">{{pub.conference}}</a> -->
            <!--                     <a href="#/publications/{{pub.year}}">{{pub.year}}</a> <a href="#/publications/{{pub.url}}">{{pub.url}}</a> -->
            <!--                     <p>{{pub.abstract}}</p> -->
            <!--                 <li data-ng-repeat="pub in publications">{{pub.title}} -->
            <!--                     <p>{{pub.author}}</p> -->
            <!--                     <p>{{pub.conference}}</p> -->
            <!--                     <p>{{pub.year}}</p> -->
            <!--                     <p>{{pub.url}}</p> <p>{{pub.abstract}}</p> -->
            <!--                 </li> -->

            <ul class="publications">
                <li data-ng-repeat="pub in publications | filter:query | orderBy:orderProp" class="thumbnail"">
                    <p>
                        {{pub.title}}.<br />{{pub.author}}.<br />{{pub.conference}}.<br />{{pub.place}}, {{pub.date}}<br />
                        <!--<a href="{{pub.url}}">{{pub.url}} -->
                        <a href="{{pub.url}}"><i class="icon-globe"></i> External Link </a>&nbsp;&nbsp; <a href="{{pub.pdf}}"><i class="icon-download-alt"></i>
                            PDF </a>
                    </p> <!--<p>{{pub.abstract}}</p> -->
                </li>
            </ul>
            <!--             <ul class="testing"> -->
            <!--                 <li data-ng-repeat="test in testing">{{test.title}} <p>{{test.author}}</p> -->
            <!--                     <p>Conference: {{test.conference}}</p> -->
            <!--                     <p>Test year: {{test.year}}</p> <p>{{test.url}}</p>                 <p>{{test.abstract}}</p> -->
            <!--                 </li> -->
            <!--             </ul> -->
            <!--             <ul> -->
            <!--                 <li data-ng-repeat="phone in phones">{{phone.name}} -->
            <!--                     <p>{{phone.snippet}}</p> -->
            <!--                 </li> -->
            <!--             </ul> -->


        </div>
    </div>
</div>
